body {
    background-color: #353736;
}

p {
    padding: 10px;
    color: #ffffff;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}

.target {
    cursor: pointer
}

.target:hover {
    transform: scale(1.05);
}

.container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
    background-color: #534e4e;
    border: 2px solid grey;
    border-radius: 8px;
    width: 20%;
}

.container span {
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
}

